<footer>
    <div class="banner-footer">
        <div class="logo-header">
            <nav>
                <ul>
                    <li>&copy;R.I.O.T</li>
                    <li><a class="hyperlink" href="/about">ABOUT</a></li>
                    <li><a class="hyperlink" href="/contact">CONTACT</a></li>
                </ul>
            </nav>
        </div>
        <div class="social-media">
            <a href="#" class="fab fa-facebook"></a>
            <a href="#" class="fab fa-twitter"></a>
        </div>
    </div>
</footer>