<footer class="navbar fixed-bottom">

    <ul class=" list-inline">
        <li class="list-inline-item">&copy;R.I.O.T</li>
        <li class="list-inline-item"><a href="/about" style="color: white;">ABOUT</a></li>
        <li class="list-inline-item"><a href="/contact" style="color: white;">CONTACT</a></li>
    </ul>


</footer>