<footer class="navbar fixed-bottom">

    <ul class=" list-inline">
        <li class="list-inline-item">&copy;Tech-Talks</li>
        <li class="list-inline-item"><a class="badge badge-info" href="/about" >ABOUT</a></li>
        <li class="list-inline-item"><a class="badge badge-info" href="/contact" >CONTACT</a></li>
    </ul>


</footer>