<header class="jumbotron">
    <div class="container-fluid ">
        <div class="row">
            <div class="col-sm-2">
                <a href="/"><img src="/assets/Images/techTalksLogo.jpg" width="120" height="60"></a>
            </div>
            <div class="col-sm-5">
                <h2 class="text-left"><i>Tech Talks</i> </h2>
            </div>
            <div class="col-sm-4 offset-md-1">
                <ul class="list-inline">
                    <li class="list-inline-item"><a class="btn btn-outline-dark" href="/connection/newConnection" role="button" >Host an Event <i class="fa fa-calendar" aria-hidden="true"></i>
                        </a></li>
                    <% if (currentUser) { %>
                    <li class="list-inline-item"><a class="btn btn-outline-dark" href="/login/signout" role="button">Sign Out <i
                                class="fa fa-sign-out" aria-hidden="true"></i>
                        </a></li>
                    <li class="list-inline-item"><a class="btn btn-outline-dark" role="button" href="/login/savedConnections" >My Events
                            <i class="fa fa-user" aria-hidden="true"></i>
                        </a></li>
                    <% } else { %>
                    <li class="list-inline-item"><a class="btn btn-outline-dark" role="button" href="/login" >Login <i class="fa fa-sign-in"
                                aria-hidden="true"></i></a></li>
                    <li class="list-inline-item"><a class="btn btn-outline-dark" role="button" href="/signup" >Sign Up <i
                                class="fa fa-user-plus"></i></a></li>
                    <% } %>
                </ul>
            </div>
        </div>
    </div>
    <br>
    <div class="row justify-content-between">
        <div class="col-sm-4">
            <ul class="list-inline">
                <li class="list-inline-item"><a class="btn btn-outline-info btn-sm" role="button" href="/" ><i class="fa fa-home"
                            aria-hidden="true"></i>
                        Home </a></li>
                <li class="list-inline-item"><a class="btn btn-outline-info btn-sm" role="button" href="/connections" >All Events <i
                            class="fa fa-calendar" aria-hidden="true"></i></a></li>
                <% if (currentUser.isAdmin) { %>
                <li class="list-inline-item"><a class="btn btn-outline-info btn-sm" href="/admin" role="button">Admin Console</a></li>
                <% }%>
            </ul> 
        </div>
        <% if (currentUser) { %>
        <div class="col-sm-4 ">
            <h4>Welcome <%=currentUser.firstName %>!</h4>
        </div>
        <% }  %>
    </div>
</header>

<br>