<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>R.I.O.T</title>
    <link rel="stylesheet" type="text/css" href="/assets/style.css" />
    <link rel="stylesheet" href="/assets/css/all.css">
</head>

<body>
    <%- include ('./partials/header.ejs',currentUser) %>
    <section class="main-class">
        <h2>About US: </h2>
        <article class="event-details">
            <br>
            <p>
                The widespread R.I.O.T Club movement of today extends back into the late 1950s. Jogging for health and
                fitness was practically unheard of in those days.Competitive long distance racing was an officially
                recognized
                Olympic sport,but with the
                there were very few distance races in the US. The athletes decided to organize and put on their own
                races, eventually the athletes decided to gather around for a coffee and with the cup of coffee they use
                to discuss the intricacies of the sport.
                This occasional coffee meetup was made official and R.I.O.T was invented.<br /><b>Today,
                    the club has more than 10000 people active members.</b>
            </p>
        </article>
    </section>
    <%- include ('./partials/footer.ejs') %>
</body>

</html>