<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>R.I.O.T</title>
  <link rel="stylesheet" type="text/css" href="/assets/style.css" />
  <link rel="stylesheet" href="/assets/css/all.css" />
</head>

<body>
  <%- include ('./partials/header.ejs', currentUser) %>
  <section class="main-class">
    <h2>Contact US:</h2>
    <article class="event-details">
      <br />
      <br />
      Address: ABC, 24, PQR Street, Charlotte, NC, 12345
      <br />
      Email: <a href="#">riot-rocks@riot.com</a>
      <br />
      Call: +1(123)-456-7890
    </article>
  </section>
  <%- include ('./partials/footer.ejs') %>
</body>

</html>