<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>R.I.O.T</title>
  <link rel="stylesheet" type="text/css" href="/assets/style.css" />
  <link rel="stylesheet" href="/assets/css/all.css" />
</head>

<body>
  <%- include ('./partials/header.ejs',currentUser) %>

  <main class="main-class">
    <section>
      <h2>What we're about !!!</h2>
      <article class="event-details">
        <br />
        <p>
          R.I.O.T&copy; is an meetup group for marathon sprinters. These
          meetups help beginners to meet with experienced sprinters to kick
          start their sprinting journey, also helps experienced sprinters to
          discuss preparation strategies and have a great time!.
        </p>
      </article>
    </section>
    <br />
    <section>
      <h2>Why should you join?</h2>
      <article class="event-details">
        <ul>
          <li>
            <p>
              Meet different sprinters who are preparing for or who have taken
              an interest in long distance races! Accumulate to share tips,
              discover preparing accomplices, and have a great time!.
            </p>
          </li>
          <li>
            <p>
              Have you at any point needed to do a 5K, Half Marathon or other
              marathon occasion? Well now's your opportunity to make your
              objective a reality. Start with our 10km long distance race
              meetup occasion and get tips from experienced sprinters.
            </p>
          </li>
          <li>
            <p>
              Are you an experienced sprinters ???, join our charity marathon
              meetup group where you can find fellow sprinters who run for a
              social cause.
            </p>
          </li>
        </ul>
      </article>
    </section>
  </main>

  <%- include ('./partials/footer.ejs') %>
</body>

</html>