body {
  margin: 0;
  /* height: 100vh; */
  color: white;
  font-family: cursive, Arial, sans-serif;
  font-size: 15px;
  height: 100%;
}

.jumbotron {
  height: 50px;
  background: rgba(0, 0, 0, 0.158);
}

.list-group-item {
  border: none;
  background-color: transparent;
}

.login-class {
  border: none;
}

.btn-sm {
  border-radius: 1rem;
}

.background {
  background: url("../assets/Images/test.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
}
